 		<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



  
  {% load static %}
  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" type="text/css">

  <!-- Page level plugin CSS-->
  <link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{% static 'css/sb-admin.css' %}" >

</head>
<div><br></div>

<div class="container">
	<div class="row">	
		
			<div class="col-md-12">
				<div class="row"> 
					<div class="col text-right">
						<a class="button btn btn-outline-primary" href="javascript:history.back()">
						<i class="fa fa-undo" aria-hidden="true"></i> Atrás</a>
						<button type="button" class="btn btn-outline-danger" onclick="window.print();">
						<i class="fa fa-print" aria-hidden="true"></i> Imprimir</button>
						<button type="button" class="btn btn-outline-success" id="btnExportExcel">
						<i class="fa fa-file-excel" aria-hidden="true"></i> Descargar</button>
							<!-- <button id="btnExport" onclick="fnExcelReport();"> EXPORT </button> -->						
					</div>  
				</div>

				<div class="row">
					<div class="col-6">
						 <img src="{% static 'img/logo_inc.png' %}" width="50%" height="70%">
						 <div style="padding: 3px 30px"><b>RUC: 80000089-7</b></div>
					</div>						 
					<div class="col-12 text-center">
						<div><b>Historial de Asistencia</b></div>
						<div><b>Periodo: Entre {{data.pFechaDesde|date:"d/m/Y"}} y {{data.pFechaHasta|date:"d/m/Y"}} </b></div> 
						
					</div>
					
				</div>
				

				   	<div class="row">        
						            <div class="table-responsive">
						              <table id="DTAsistencia" class="table table-sm table-striped table-bordered" width="100%" cellspacing="0" >
						                <thead>
						                	<tr class="th-sm">						                		
						                		<th class="th-sm">Legajo</th>
							                    <th class="th-sm">Nombre</th>
							                    <th class="th-sm" colspan="3" >Ccos</th>
							                    <th class="th-sm">Entrada</th>
							                    <th class="th-sm">Salida</th>
							                    <th class="th-sm text-right">Horas</th>	
							                    <th class="th-sm">Entrada</th>
							                    <th class="th-sm">Salida</th>
							                    <th class="th-sm text-right">Horas</th>						                    
							                  	<tr>
							                  	<th class="th-sm"></th>
							                    <th class="th-sm">Motivo Ausencia</th>
							                    <th class="th-sm"></th>
							                    <th class="th-sm">Emision</th>
							                    <th class="th-sm">Turno</th>			                    
							                    <th class="th-sm">Dia Hora</th>
							                    <th class="th-sm">Dia Hora</th>
							                    <th class="th-sm text-right">Trab.</th>	
							                    <th class="th-sm">Dia Hora</th>
							                    <th class="th-sm">Dia Hora</th>
							                    <th class="th-sm text-right">Trab.</th>							                    
							                  	</tr>							                  	
						                    </tr>
						                  <!-- <tr><th class="th-sm" colspan="8">s</th></tr> -->

						                </thead>
						                
						                <tbody>
						                	
						                	{% for asistencia in asistencias %}
							                		
							                	<tr>
								                	<td>{{asistencia.lega}}</td>
								                	<td>{{asistencia.apel}}, {{asistencia.nomb}} 
									                	{% if asistencia.moti_ause %}
														<!-- <tr>								                	 -->
															<!-- <td colspan="8"> -->
																<div>
																	{{asistencia.conl}}-{{asistencia.moti_ause}}
																</div>	
															<!-- </td>								                	 -->
														<!-- </tr> -->
														{% endif %}

								                	</td>
								                	<td>{{asistencia.ccos}}</td>
								                	<td>{{asistencia.fec_emision|date:"d/m/Y"}}</td>
								                	<!-- TURNO -->
								                	{% if asistencia.turn %}
								                		<td>{{asistencia.turn}} {{asistencia.hora_ent1}} {{asistencia.hora_sal1}}</td>
								                	{% else%}
								                		<td>No Definido</td>
								                	{% endif %}
								                	
								                	<td>{{asistencia.hora_entr|date:"H:i"}}</td>
													<td>{{asistencia.hora_sali|date:"H:i"}}</td>
													<td class="text-right" >{{asistencia.hora_trab|floatformat:"2"}}</td>
													<td>{{asistencia.hora_entr2|date:"H:i"}}</td>
													<td>{{asistencia.hora_sali2|date:"H:i"}}</td>
													<td class="text-right" >{{asistencia.hora_trab2|floatformat:"2"}}</td>
													
							                	</tr>
							                	
							                	
							                	
						                	{% endfor %}
						                
						              </table>
						            </div>
						             <div class="row">
										<p class="col-sm-12">Usuario: {{request.user.get_full_name}}</p>
									</div>
					</div>
				</div>		      
			</div>	    
			
		</div>
</div>

<iframe id="txtArea1" style="display:none"></iframe> 


  <!-- Bootstrap core JavaScript-->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>
  <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin.min.js' %}"></script>

  <!-- Demo scripts for this page-->
  <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
  <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>

  <script src="{% static 'js/utils.js' %}"></script>

  <script type="text/javascript">

		$(document).ready(function(){
		$("#btnExportExcel").click(
		            function () {
		                tableToExcel('DTAsistencia','Asistencia','Asistencia');
		            }            
		        );
		});


		$(document).ready(function() {
		    $('#DTAsistencia').DataTable( {
				"paging": false,
				"ordering": false,
				"searching": false,
				"language": {
				"url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json",
				"decimal": ".",
				"thousands": ",",

		      },

				  columnDefs: [
				    // { className: 'text-right', targets: [7] },
				    { className: 'text-left', targets: [1,2] },
				    
				  ],

		        "footerCallback": function ( row, data, start, end, display ) {
		            var api = this.api(), data;
		 
		            // Remove the formatting to get integer data for summation
		            var intVal = function ( i ) {
		                return typeof i === 'string' ?
		                    i.replace(/[\$,.]/g, '')*1 :
		                    typeof i === 'number' ?
		                        i : 0;
		            };
		 
		            // Total over all pages
		            tot_dedu = api
		                .column( 2 )
		                .data()
		                .reduce( function (a, b) {
		                    return intVal(a) + intVal(b);
		                }, 0 );

		            tot_nodedu = api
		                .column( 3 )
		                .data()
		                .reduce( function (a, b) {
		                    return intVal(a) + intVal(b);
		                }, 0 );
		 			tot_debi = api
		                .column( 4 )
		                .data()
		                .reduce( function (a, b) {
		                    return intVal(a) + intVal(b);
		                }, 0 );
		            total = api
		                .column( 5 )
		                .data()
		                .reduce( function (a, b) {
		                    return intVal(a) + intVal(b);
		                }, 0 );
		 
		            // Total over this page
		            pageTotal = api
		                .column( 5, { page: 'current'} )
		                .data()
		                .reduce( function (a, b) {
		                    return intVal(a) + intVal(b);
		                }, 0 );
		 
		            // Update footer
		            /*$( api.column( 4 ).footer() ).html(
		                'Gs.'+ pageTotal +' ( Gs.'+ total +' total)'
		            );*/
		            $( api.column( 2 ).footer() ).html(
		                tot_dedu.format(0, 3, '.', ',')
		            );
		            $( api.column( 3 ).footer() ).html(
		                tot_nodedu.format(0, 3, '.', ',')
		            );
		            $( api.column( 4 ).footer() ).html(
		                 tot_debi.format(0, 3, '.', ',') 
		                	  + '<br><br> Neto a Cobrar Gs.<br> '+ total.format(0, 3, '.', ',')
		            );
		            $( api.column( 5 ).footer() ).html(
		                'Gs.'+ total.format(2, 3, '.', ',')
		            );

		        }
		    } );


		} );



/**
 * Number.prototype.format(n, x, s, c)
 * 
 * @param integer n: length of decimal
 * @param integer x: length of whole part
 * @param mixed   s: sections delimiter
 * @param mixed   c: decimal delimiter
 */
Number.prototype.format = function(n, x, s, c) {
    var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\D' : '$') + ')',
        num = this.toFixed(Math.max(0, ~~n));

    return (c ? num.replace('.', c) : num).replace(new RegExp(re, 'g'), '$&' + (s || ','));
};

</script>

  </body>
</html>