{% extends "base.html" %}

{% block head_content %}
	<title>Resetear Contraseña Intranet INC</title>
{% endblock %}

{% block container%}	

<!-- FORMAS DE ACTION DE UN FORMULARIO -->
<!-- <form method="POST" action="."></form> 	EL PUNTO INDICA QUE VA A EJECUTAR LA MISMA URL ACTUAL EN ESTE CASO /usuario/login-->
<!-- <form method="POST" action="usuarios/login"></form> EXPLICITAMENTE LE DECIMOS QUE URL EJECUTAR-->
<!-- <form method="POST" action="{% url 'login' %}"> UTILIDAD DE DJANGO TAG URL -->

{% load static %}
		<div class="container h-100">
        	<div class="row h-100 justify-content-center align-items-center">
            	<div class="col-sm-12 col-md-5 col-lg-5 pt-2 pl-5 pr-5 pb-5" id="auth-container">
            		  <img src="{% static 'img/logo_hd.png' %}" class="img-fluid rounded mx-auto d-block pb-4" style="max-width: 50%;">
					<form method="POST" action="{% url 'password_change' %}">
						{% csrf_token %}
						
						{% if error %}
							<p class="alert alert-danger">{{ error }}</p>
						{% endif %}

						<p class="alert alert-dark text-center"><b>Inicio de Sesión</b></p>
						<div class="form-group">
							<input class="form-control" type="password" placeholder="Contraseña antigua" name="old_password"/>
						</div>

						<div class="form-group">
							<input class="form-control" type="password" placeholder="Contraseña nueva" name="new_password1"/>
						</div>
						<div class="form-group">
							<input class="form-control" type="password" placeholder="Contraseña nueva (confirmación)" name="new_password2"/>
						</div>
							
							<button class="btn btn-success btn-block mt-5" type="submit" ><span class="glyphicon glyphicon-log-in"></span>
								Ingresar
							</button>
						<div class="etc-login-form">
							<p>Olvidaste tu contraseña? <a href="#">Click</a></p>
							<p>Nuevo Usuario? <a href="{% url 'signup' %}">Registrarse!</a></p>
						</div>
						
					</form>
			</div>
		</div>
{% endblock%}

