<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

<!-- ESTILOS PARA EL MENU NAVBAR -->
<style type="text/css">

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
  }  
</style>

  <!--ESTATICOS-->
  {% load static %}
  
  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="{% static 'bootstrap-4.3.1/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static '/bootstrap-select-1.13.1/css/bootstrap-select.min.css' %}">
  
  <!-- JQUERY CDN  EL ORDER IMPORTA -->
  <script src="{% static '/js/jquery-3.4.1.min.js' %}"></script>

  
  
  
  <!-- FONTS PARA ESTE TEMPLATE-->
  <link rel="stylesheet" href="{% static 'font-awesome-4.7.0/css/all.min.css' %}" type="text/css">

  
  <!-- DATATABLES FORMATO BOOSTRAP 4 -->
  <link rel="stylesheet" href="{% static 'vendor/datatables/dataTables.bootstrap4.css' %}">
  
  <!-- ESTILO GENERAL DE ESTE TEMPLATE-->
  <link rel="stylesheet" href="{% static 'css/sb-admin.css' %}">
  
  <!-- GIJGO DATEPICKER   -->
  <script src="{% static '/gijgo-combined-1.9.13/js/gijgo.min.js' %}" type="text/javascript"></script>
  <link href="{% static '/gijgo-combined-1.9.13/css/gijgo.min.css' %}" rel="stylesheet" type="text/css" />
  <script src="{% static '/gijgo-combined-1.9.13/js/messages/messages.es-es.js' %}" type="text/javascript"></script>
  
  <!--ESTILOS PROPIOS-->
  <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
  <link rel="stylesheet" href="{% static 'css/carousel.css' %}">
  
  <!-- LIBS -->
  <script src="{% static 'lib/moment/moment.js' %}"></script>
  <script src="{% static 'lib/moment/moment-with-locales.js' %}"></script>
  <script src="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'lib/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}" />
  <script src="{% static 'lib/sweetalert2-9.10.0/sweetalert2.all.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'lib/sweetalert2-9.10.0/sweetalert2.min.css' %}" />
  <script src="{% static 'lib/jquery-loading-overlay-1.5.3/loadingoverlay.min.js' %}"></script>
  <!-- FUNCTION -->
  <script src="{% static 'js/functions.js' %}"></script>


{% block extrahead %}    {% endblock %} {# Embeds Extra Resources #}                
{% block head_content %} {% endblock %}
{% block head_body %} {% endblock %}

  <!--HEADER --> 
</head>

<body id="page-top">

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" href="{% url 'publicacion:list' %}"> 
    <img src="{% static 'img/logo_hd.png' %}" class="rounded-circle" height="50"> <span class="off">Intranet</span>
  </a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
  <i class="fas fa-bars"></i>
  </button>

    <ul class="navbar-nav ml-auto ml-md-4 ">
      <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="downloadDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-download" aria-hidden="true"></i>
            <span class="off">Formularios</span>
          </a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">Descargar Formularios</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% static 'download/Formularios/formulario_abm_de_usuarios_inc.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true" ></i>Solicitud de Usuarios INC</a>
            <a class="dropdown-item" href="{% static 'download/Formularios/formulario_abm_sap_2019.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Solicitud de Usuarios SAP</a>
            <a class="dropdown-item" href="{% static 'download/Formularios/formulario_usuario_remoto.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Solicitud de Usuarios Acceso Remoto</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% static 'download/Formularios/permiso_de_salida.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Solicitud de Permiso</a>
            <a class="dropdown-item" href="#"><i class="fa fa-download px-2" aria-hidden="true"></i>Solicitud de Vacaciones</a>
            <a class="dropdown-item" href="{% static 'download/Formularios/justificativo_version_1.0.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Justificativo</a>
            <a class="dropdown-item" href="{% static 'download/Formularios/pedido_de_utiles.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Pedido de Utiles</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% static 'download/Formularios/formulario_transporte_v3.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Solicitud de Usufructo de Vehiculo</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Evaluación de Desempeño</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% static 'download/Formularios/formulario_evaluacion_desempeno.xlsx' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Descargar Formulario Evaluación de Desempeño</a>
            <!-- <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">COOPFINC</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% static 'download/Formularios/solicitud_seguro_panal_coopfinc.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Descargar Formulario Seguro Panal</a> -->
          </div>
        </li> 
        <!-- <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="{% url 'interno-list' %}" aria-expanded="false">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span class="off">Lista de Numeros Internos</span>
          </a>
        </li> -->
      </ul>

      <!--REGLAMENTOS-->
      <ul class="navbar-nav ml-auto ml-md-4 ">
      <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="downloadDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-university" aria-hidden="true"></i>
            <span class="off">Reglamentos</span>
          </a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">Normativas</h6>
            <div class="dropdown-divider"></div>
            
              <a class="dropdown-item" 
                  href="{% static 'download/Normativas/1_Politica_de_Seguridad_de_la_Información.pdf' %}" 
                  target="_blank">
                  <i class="fa fa-gavel px-2" aria-hidden="true" ></i>
                  1-Politica de Seguridad de la Información
              </a>
              
              <a class="dropdown-item" 
                href="{% static 'download/Normativas/2_Reglamento_de_Recursos_de_TI_Correo_Internet.pdf' %}" 
                target="_blank">
                <i class="fa fa-gavel px-2" aria-hidden="true"></i>
                2-Reglamento de Recursos de TI - Correo - Internet
              </a>
              
              <a class="dropdown-item" 
                href="{% static 'download/Normativas/3_Consolidacion_Adquisiciones_de_TI.pdf' %}" 
                target="_blank">
                <i class="fa fa-gavel px-2" aria-hidden="true"></i>
                3-Consolidación Adquisiciones de TI
              </a>
              
              <a class="dropdown-item" 
                href="{% static 'download/Normativas/4_Manual_de_Gestion_de_Usuarios.pdf' %}" 
                target="_blank">
                <i class="fa fa-gavel px-2" aria-hidden="true"></i>
                4-Manual de Gestión de Usuarios
              </a>            
          </div>
        </li> 
       
      </ul>
      <!-- LISTA DE INTERNOS -->
      <ul class="navbar-nav ml-auto ml-md-4 ">
       <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="{% url 'interno-list' %}" aria-expanded="false">
            <i class="fa fa-phone" aria-hidden="true"></i>
            <span class="off">Lista de Numeros Internos</span>
          </a>
        </li>
      </ul>

      <!-- GESTION DE USUARIOS SGDU-->
      <ul class="navbar-nav ml-auto ml-md-4 ">
      <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="downloadDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="off">SGDU - Gestión de Usuarios</span>
          </a>
          <div class="dropdown-menu dropdown-menu-left" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">SGDU</h6>
            <div class="dropdown-divider"></div>
            
              <a class="dropdown-item" 
                  href="https://sgdu.inc.gov.py:9082/itim/ui/Login.jsp#homepage" 
                  target="_blank">
                  <i class="fa fa-arrow-circle-right px-2" aria-hidden="true" ></i>
                  Acceder
              </a>

              <a class="dropdown-item" 
                  href="{% static 'download/SGDU/InformacionSGDU.pdf' %}" 
                  target="_blank">
                  <i class="fa fa-info-circle px-2" aria-hidden="true"></i>
                  Información
              </a>
              
              <a class="dropdown-item" 
                  href="{% static 'download/SGDU/RecuperarPassword.pdf' %}"
                  target="_blank">
                  <i class="fa fa-unlock px-2" aria-hidden="true"></i>
                  Recuperar contraseña
              </a>
              
              <a class="dropdown-item" 
                  href="{% static 'download/SGDU/F-CREA-SGDU-01.pdf' %}"
                  target="_blank">
                  <i class="fa fa-user-plus px-2" aria-hidden="true"></i>
                  Obtener usuario
              </a>         

              <a class="dropdown-item" 
                  href="{% static 'download/SGDU/F-BAJA-SGDU-01.pdf' %}" 
                  target="_blank">
                  <i class="fa fa-user-times px-2" aria-hidden="true"></i>
                  Dar de Baja Usuario
              </a>    
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Ayuda</h6>
              <a class="dropdown-item" 
                  href="{% static 'download/SGDU/SGDU-Solicitud-Acceso.mp4' %}" 
                  target="_blank">
                  <i class="fa fa-plus-square px-2" aria-hidden="true"></i>
                  Solicitar Accesos
              </a>

              <a class="dropdown-item" 
                  href="{% static 'download/SGDU/SGDU-Aprobar-Solicitud-Acceso.mp4' %}" 
                  target="_blank">
                  <i class="fa fa-check-square px-2" aria-hidden="true"></i>
                  Aprobar Solicitudes de Acceso
              </a>

              <a class="dropdown-item" 
                  href="{% static 'download/SGDU/SGDU-Cambiar-Password.mp4' %}" 
                  target="_blank">
                  <i class="fa fa-key px-2" aria-hidden="true"></i>
                  Cambiar contraseña
              </a> 
          </div>
        </li> 
       
      </ul>




    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <!-- <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-dark" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div> -->
      {% if not request.user.is_authenticated %}
      <div class="text-center"  >     
        <a  href="{% url 'signup' %}?next={{request.path}}" 
        style="color: rgb(255,255,255)">
        <font color="#F5F6F7">Registrarse!</font></a>       
      </div>
      {% endif %}
    
    </form>


    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <!-- <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw" ></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-danger"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="nav-item dropdown no-arrow text-center">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!-- <i class="fas fa-user-circle fa-fw"></i> -->
                      {% if request.user.perfil.foto %}
                          <img src="{{ request.user.perfil.foto.url }}"
                          class="d-inline-block align-top rounded-circle" 
                          height="35" 
                          width="35" />                     
                      {% else%}
                          <img src="{% static 'img/default-profile.png' %}" 
                          class="d-inline-block align-top rounded-circle"
                          height="35" 
                          width="35" 
                          />
                      {% endif %}
                      {% if not request.user.is_authenticated %}
                          <a  href="{% url 'login2' %}?next={{request.path}}" 
                          style="color: rgb(255,255,255)">
                          <font color="#F5F6F7">Ingresar</font></a>       
                      {% endif %}

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <p class="text-center link-text-span">
            {% if request.user.username %}
              <a href="{% url 'perfil-detail' request.user.id %}"><b>{{request.user.first_name}}</b></a>
              
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'perfil-detail' request.user.id %}">Perfil</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'password_change' %}">Cambiar mi contraseña</a>
            {% else %}
              <a href="#">Usuario</a>
            {% endif %}
          </p>          
          
          <div class="dropdown-divider"></div>
          <!-- Primero llama a un DIV MODAL para cerrar sesion -->
          
          {% if not request.user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'login2' %}?next={{request.path}}">Iniciar Sesión</a>
          {% else %}
            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal"><i class="hidden-xs hidden-sm hidden-md fa fa-sign-out-alt"></i> Cerrar Sesión</a>
          {% endif %}

        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">
    
    <!-- ///////////////////////////////////////////////////////////// -->
                  <!-- BARRA LATERAL DE NAVEGACION -->
    {% include 'base_navbar_left.html' %}
    <!-- ///////////////////////////////////////////////////////////// -->

    <!--CONTENIDO EMBEBIDO DE OTROS FORMS-->
    <div id="content-wrapper">
      <div class="container-fluid">
            <!-- PRINCIPAL         -->
            {% block container %}{% endblock%}
      </div>
      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Industria Nacional del Cemento - Gerencia de Tecnologías de la Información y Comunicación 2019</span>
          </div>
        </div>
      </footer>
    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">¿Seguro desea cerrar sesión?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Seleccione "Cerrar sesión" para finalizar su sesión actual.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
          <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
        </div>
      </div>
    </div>
  </div>


  <!-- JAVASCRIPT -->

  {% block js %}{% endblock js %} {# Extras Javascript #}

<!-- JQUERY CDN  EL ORDER IMPORTA -->  

<script src="{% static '/bootstrap-4.3.1/js/popper.min.js' %}"></script>
<script src="{% static '/bootstrap-4.3.1/js/bootstrap.min.js' %}"></script>


<!-- IMPLEMENTACION DATETIMEPICKER -->
<script src="{% static '/js/moment.js' %}" ></script>
<!-- <script src="{% static '/js/bootstrap-datetimepicker.min.js' %}" ></script> -->
<!-- <script src="{% static '/js/locale/es.js' %}" ></script> -->

<!-- GIJGO DATEPICKER   -->
<!-- <script src ="{% static '/gijgo-combined-1.9.13/js/gijgo.min.js' %}" type="text/javascript"></script> -->
<!-- <script src ="{% static '/gijgo-combined-1.9.13/js/messages/messages.es-es.js' %}" type="text/javascript"></script> -->


<!-- Latest compiled and minified JavaScript -->
<script src="{% static '/bootstrap-select-1.13.1/js/bootstrap-select.min.js' %}"></script>

<!-- (Optional) Latest compiled and minified JavaScript translation files -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script> -->



<!-- Bootstrap core JavaScript-->
  <!-- <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script> -->
  <!-- <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script> -->

  <!-- Core plugin JavaScript-->
  <!-- <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script> -->
  <!-- <script src="{% static 'js/popper.min.js' %}"></script> -->

  <!-- Page level plugin JavaScript-->
  <!-- <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script> -->
  <script src="{% static 'vendor/datatables/jquery.dataTables.js' %}"></script>
  <script src="{% static 'vendor/datatables/dataTables.bootstrap4.js' %}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{% static 'js/sb-admin.min.js' %}"></script>
  <script src="{% static 'js/xo-numeric.js' %}"></script>
  <script src="{% static 'js/utils.js' %}"></script>
  <script src="{% static 'js/scripts.js' %}"></script>

  <!-- Demo scripts for this page-->
  <!-- <script src="{% static 'js/demo/datatables-demo.js' %}"></script> -->
  <!-- <script src="{% static 'js/demo/chart-area-demo.js' %}"></script> -->





<!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->

  <script type="text/javascript">

    //DEFAULT CLICK MENU BAR
    $(function() {
      var menubutton = document.getElementById("sidebarToggle");
      menubutton.click();
    });


    // $.fn.selectpicker.Constructor.BootstrapVersion = '4';

    /////////////////////////////////////
    // EVENTOS MENU DE VARIOS NIVELES 
    /////////////////////////////////////
    $(function() {
      $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function(event) {
        event.preventDefault();
        event.stopPropagation();
        
        //method 1: remove show from sibilings and their children under your first parent
        
        // if (!$(this).next().hasClass('show')) {
              
        //         $(this).parents('.dropdown-menu').first().find('.show').removeClass('show');
        //      }       
         
         
        //method 2: remove show from all siblings of all your parents
        $(this).parents('.dropdown-submenu').siblings().find('.show').removeClass("show");
        
        $(this).siblings().toggleClass("show");
        
        
        //collapse all after nav is closed
        $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
          $('.dropdown-submenu .show').removeClass("show");
        });

      });
    });

  ///////////////////////////////////
  //          DATATABLES
  ///////////////////////////////////
  $(document).ready(function() {
      $('#dataTable1').DataTable({
        "paging": true,
        "ordering": true,
        "searching": true,
        "language": {
        "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json",
        "decimal": ".",
        "thousands": ",",},
         dom: 'Bfrtip',
        buttons: [
            'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        });
      });

  </script>
  <!--TOOLTIP MENU BAR LEFT-->
  <script type="text/javascript">

  var pathname = window.location.pathname;
  
    $(function () {
      $('[data-toggle="tooltip"]').tooltip({
     'delay': { show: 1000, hide: 500 }
      })
     })
  </script>
  
  </body>
</html>

