
{% load static %}

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="base.html"> <i class="fa fa-industry px-2" aria-hidden="true"></i>Intranet INC</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
      <i class="fas fa-bars"></i>
    </button>
    <ul class="navbar-nav ml-auto ml-md-4 ">
      <li class="nav-item dropdown no-arrow mx-1">
          <a class="nav-link dropdown-toggle" href="#" id="downloadDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-download" aria-hidden="true"></i>
            <span>Descargas</span>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">Formularios:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% static 'download/formulario_abm_de_usuarios_inc.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true" ></i>Solicitud de Usuarios INC</a>
            <a class="dropdown-item" href="{% static 'download/formulario_abm_sap_2019.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Solicitud de Usuarios SAP</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% static 'download/permiso_de_salida.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Solicitud de Permiso</a>
            <a class="dropdown-item" href="#"><i class="fa fa-download px-2" aria-hidden="true"></i>Solicitud de Vacaciones</a>
            <a class="dropdown-item" href="{% static 'download/justificativo_version_1.0.pdf' %}" download><i class="fa fa-download px-2" aria-hidden="true"></i>Justificativo</a>
          </div>
        </li> 
      </ul>

    <!-- Navbar Search -->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>

    <!-- Navbar -->
    <ul class="navbar-nav ml-auto ml-md-0">
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-bell fa-fw" ></i>
          <span class="badge badge-danger">9+</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow mx-1">
        <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-envelope fa-fw"></i>
          <span class="badge badge-danger">7</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item dropdown no-arrow">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user-circle fa-fw"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Activity Log</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">Logout</a>
        </div>
      </li>
    </ul>

  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <!--CORREO-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-envelope" aria-hidden="true"></i>
          <span>Correo</span>
        </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <h6 class="dropdown-header">Zimbra</h6>
              <a class="dropdown-item" href="https://incasu.inc.gov.py:8443/" target="_blank">Ingresar:</a>
              <a class="dropdown-item" href="https://incasu.inc.gov.py:7071/" target="_blank">Administrar:</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="forgot-password.html">Olvidé mi contraseña:</a>
            </div>
      </li>
      <!--SGDI-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-address-book" aria-hidden="true"></i>
          <span>Expedientes</span>
        </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <h6 class="dropdown-header">SGDi</h6>
              <a class="dropdown-item" href="http://sgdi.inc.gov.py:8080/xre/login/auth" target="_blank">Ingresar:</a>
              <a class="dropdown-item" href="http://sgdi.inc.gov.py:8080/xre/login/auth" target="_blank">Administrar:</a>
             <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="forgot-password.html">Olvidé mi contraseña:</a>
            </div>
      </li>
      <!--NUBE-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-cloud" aria-hidden="true"></i>
          <span>Nube</span>
        </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <h6 class="dropdown-header">Nextcloud</h6>
              <a class="dropdown-item" href="https://nube.inc.gov.py/login?clear=1" target="_blank">Ingresar:</a>
              <a class="dropdown-item" href="https://nube.inc.gov.py/login?clear=1" target="_blank">Administrar:</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="forgot-password.html">Olvidé mi contraseña:</a>
            </div>
      </li>
      <!--SGDO-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-book" aria-hidden="true"></i>
          <span>Documental</span>
        </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <h6 class="dropdown-header">SGDoc</h6>
              <a class="dropdown-item" href="http://sgdo.inc.gov.py/authentication/login/?next=/" target="_blank">Ingresar:</a>
              <a class="dropdown-item" href="http://sgdo.inc.gov.py/authentication/login/?next=/" target="_blank">Administrar:</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="forgot-password.html">Olvidé mi contraseña:</a>
            </div>
      </li>

      <!--SGProyectos-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-project-diagram" aria-hidden="true"></i>
          <span>Proyectos</span>
        </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <h6 class="dropdown-header">SGPro</h6>
              <a class="dropdown-item" href="http://proyectos.inc.gov.py:8085/login?back_url=http%3A%2F%2Fproyectos.inc.gov.py%3A8085%2F" target="_blank">Ingresar:</a>
              <a class="dropdown-item" href="http://proyectos.inc.gov.py:8085/login?back_url=http%3A%2F%2Fproyectos.inc.gov.py%3A8085%2F" target="_blank">Administrar:</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="forgot-password.html">Olvidé mi contraseña:</a>
            </div>
      </li>
      <!--SITIOS-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-link" aria-hidden="true"></i>
          <span>Sitios de Interes</span>      
      </a>
            <div class="dropdown-menu" aria-labelledby="pagesDropdown">
              <h6 class="dropdown-header">Ingresar a:</h6>
              <a class="dropdown-item" href="https://www.contrataciones.gov.py/" target="_blank">DNCP</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="https://www.set.gov.py/" target="_blank">SET</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="http://websiare.hacienda.gov.py/" target="_blank">SIARE</a>
            </div>
      </li>
    </ul>
    <!--CONTENIDO EMBEBIDO DE OTROS FORMS-->
    <div id="content-wrapper">
      <div class="container-fluid">
        <!--<div class="container mt-5">-->
            {% block container %}{% endblock%}
        <!--</div>        -->
      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Industria Nacional del Cemento - Gerencia de Tecnologías de la Información y Comunicación 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>